@{
    ViewData["Title"] = "Aliaddo Test";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <div class="container">
        <a asp-area="" asp-controller="Padres" asp-action="Index" class="btn btn-warning btn-lg btn-block">Lista de Padres</a>
        <a asp-area="" asp-controller="Hijos" asp-action="Index" class="btn btn-dark btn-lg btn-block">Lista de Hijos</a>
    </div>
    
</div>
